@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=IM+Fell+French+Canon+SC&family:wght@600&display=swap');

body {
  font-family: Oswald;
}

#title {
  font-variant: small-caps;
}

#iterations {
  max-width: 70px;
}

#bob-name {
  color: red;
}

#larry-name {
  color: lime;
}

.container {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.point-total {
  font-size: 12pt;
}

footer {
  color: black;
}

#custom-strats {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color:#666;
  background-image: linear-gradient(to bottom right, #555, #888);
}

#custom-strat-explain{
  background-color: #f4f4f4;
  border-radius: 10px;
}

#bob-custom-strat, #larry-custom-strat {
  color: white;
}

#iteration-explanation {
  font-size: 10px;
  padding-top: 2px;
  padding-left: 28px;
  padding-right: 28px;
  color: #888;
}

#alert {
  color: red;
  font-size: 20px;
}