@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Cinzel+Decorative:wght@900&display=swap');

body {
  font-family: Oswald;
}

.you {
  color: green;
}

.accomplice {
  color: red;
}

.container {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.point-total {
  font-size: 12pt;
}

footer {
  color: black;
}

#you-custom-strat, #accomplice-custom-strat {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:#888;
  background-image: linear-gradient(to bottom right, #888, #999);
  color: white; 
}

#iteration-explanation {
  font-size: 10px;
  padding-top: 2px;
  color: #888;
}

#alert {
  color: red;
  font-size: 20px;
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

#iterations {
  max-width:100px;
}

#matrix {
  margin-left: auto;
  margin-right: auto;
  border: 5px;
}
.percentage {
  color:black;
}

.custom-range{
  background-color: #999;
  height: 1rem;
}

.slider-tag {
  width: 55%;
  text-align: left;
}